/*.example-card {
  width: 400px;
}*/

.grid-style{
  background-color: whitesmoke;
}

.md-fab-bottom-right2 {
  z-index:5;
  position : fixed;
  display : flex;
  align-self : flex-end;
  margin-top: 40% !important;
  margin-left: 90%;
}

mat-card:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
