<mat-toolbar id="custom-nav" class="fixed-header" color="primary">
  <span>Minerva Eye</span>
  <div *ngIf="!currentUser" class="button-row">
    <button mat-button><i class="fa fa-home" (click)="goToRoute ('/minerva')" aria-hidden="true">Home</i></button>
    <button
      mat-button><i class="fa fa-cubes" (click)="internalRoute('features')" aria-hidden="true">Features</i></button>
    <button mat-button><i class="fa fa-briefcase" aria-hidden="true">About</i></button>
    <button mat-button><i class="fa fa-user-circle" (click)="loginDialog()" aria-hidden="true">Login</i></button>
    <button mat-button><i class="fa fa-sign-in" (click)="register()" aria-hidden="true">Register</i></button>
  </div>

  <div *ngIf="currentUser" class="button-row">
    <button mat-button><i class="fa fa-tachometer" aria-hidden="true">Dashboard</i></button>
    <button mat-button><i class="fa fa-database" aria-hidden="true">Datasets</i></button>
    <button mat-button><i class="fa fa-tags" aria-hidden="true">Topics</i></button>
    <button mat-button><i class="fa fa-users" [routerLink]="['/admin/users']" aria-hidden="true">Users</i></button>
    <button mat-button><i class="fa fa-sign-out" (click)="logout()" aria-hidden="true">Logout</i></button>
  </div>

</mat-toolbar>
